@import 'colors';

button.ivu-btn {
    background: transparent;
    color: $main-color;
    border-color: $main-color;

    &.ios {
        font-weight: bold;
        color: $ios-color;
        border-color: $ios-color;
    }
    &.android {
        font-weight: bold;
        color: $android-color;
        border-color: $android-color;
    }
    &.angular {
        font-weight: bold;
        color: $angular-color;
        border-color: $angular-color;
    }
}
