@import 'colors';
@import 'button';
@import 'modal';

html,
body {
    height: 100%;
    overflow: hidden;

    .container {
        max-width: 1024px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        height: 100%;
        -webkit-display: flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
    display: none !important;
}
@media (max-width: 560px) {
    .hidden-xs {
        display: none !important;
    }
    .visible-xs {
        display: block !important;
    }
}
